<table class="table-auto text-sm max-md:text-xs" id="table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>ESPN</th>
            <th>Fantasy Pros</th>
            <th>FFToday</th>
            <th>The Score</th>
            <th>Walter Football</th>
            <th>AVERAGE</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let chunk of chunkArray(allRankings, 5); let i = index">
            <tr>
                <td class="flex justify-center border-none">{{chunk[0].rank}}</td>
                <ng-container *ngFor="let entry of chunk">
                    <td
                        [ngClass]="entry.player.player_name.toLowerCase().includes(searchBarText.toLowerCase()) && searchBarText != '' && searchBarText != ' ' ? 'match' : '' ">
                        <!-- <td [ngClass]="entry.player.player_name.toLowerCase().includes(searchBarText.toLowerCase) ? 'active' : '' "> -->
                        {{entry.player.player_name}}, {{entry.player.team}}
                        <span *ngIf="entry.ranking_src.position_ranking_type === 'OVERALL'" class="font-bold">
                            ({{entry.player.position}}) </span>
                    </td>
                </ng-container>
                <td
                    [ngClass]="averageRankings[i].player.player_name.toLowerCase().includes(searchBarText.toLowerCase()) && searchBarText != '' && searchBarText != ' ' ? 'match' : '' ">
                    {{averageRankings[i].player.player_name}}, {{averageRankings[i].player.team}}
                    <span *ngIf="averageRankings[i].ranking_src.position_ranking_type === 'OVERALL'" class="font-bold">
                        ({{averageRankings[i].player.position}}) </span>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>