<table class="table-auto text-sm max-md:text-xs" id="table">
    <thead>
        <tr>
            <th>Rank</th>
            <th class="hover:underline"><a target="_blank" href="https://www.espn.com/fantasy/football/story/_/id/36304365/fantasy-football-rankings-2023-ppr-non-ppr">ESPN</a></th>
            <th class="hover:underline"><a target="_blank" href="https://www.fantasypros.com/nfl/rankings/consensus-cheatsheets.php">Fantasy Pros</a></th>
            <th class="hover:underline"><a target="_blank" href="https://www.fftoday.com/rankings/playerproj.php?PosID=10&LeagueID=">FFToday</a></th>
            <th class="hover:underline"><a target="_blank" href="https://www.thescore.com/news/2541042">The Score</a></th>
            <th class="hover:underline"><a target="_blank" href="https://walterfootball.com/fantasycheatsheet/2023/traditional">Walter Football</a></th>
            <th>AVERAGE</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let chunk of chunkArray(allRankings, 5); let i = index">
            <tr>
                <td class="flex justify-center" id="rank">{{chunk[0].rank}}</td>
                <ng-container *ngFor="let entry of chunk">
                    <td
                        [ngClass]="entry.player.player_name.toLowerCase().includes(searchBarText.toLowerCase()) && searchBarText != '' && searchBarText != ' ' ? 'match' : '' ">
                        {{entry.player.player_name}}, {{entry.player.team}}
                        <span *ngIf="entry.ranking_src.position_ranking_type === 'OVERALL'" class="font-bold">
                            ({{entry.player.position}}) </span>
                    </td>
                </ng-container>
                <td
                    [ngClass]="averageRankings[i].player.player_name.toLowerCase().includes(searchBarText.toLowerCase()) && searchBarText != '' && searchBarText != ' ' ? 'match' : '' ">
                    {{averageRankings[i].player.player_name}}, {{averageRankings[i].player.team}}
                    <span *ngIf="averageRankings[i].ranking_src.position_ranking_type === 'OVERALL'" class="font-bold">
                        ({{averageRankings[i].player.position}}) </span>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>