<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Fantasy Pros</th>
            <th>FFToday</th>
            <th>The Score</th>
            <th>Walter Football</th>
            <th>AVERAGE</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let chunk of chunkArray(allRankings, 4); let i = index">
            <tr>
                <td class="flex justify-center border-none">{{chunk[0].rank}}</td>
                <ng-container *ngFor="let entry of chunk">
                    <td>{{entry.player.player_name}}, {{entry.player.team}}</td>
                </ng-container>
                <td >{{averageRankings[i].player.player_name}}, {{averageRankings[i].player.team}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>