<app-card>
    <div class="flex justify-center gap-16 mb-20">
        <div>
            <p>Position</p>
            <app-dropdown [dropDownOptions]="['Overall', 'QB', 'RB', 'WR', 'TE']" (selectionEvent)="receiveSelectionEvent($event)"></app-dropdown>
        </div>
        <div>
            <p>Scoring</p>
            <app-dropdown [dropDownOptions]="['Standard', 'PPR']" (selectionEvent)="receiveSelectionEvent($event)"></app-dropdown>
        </div>
    </div>
    <div class="">
        <app-rankings-table [scoreType]="scoreType" [positionType]="positionType"></app-rankings-table>
    </div>
</app-card>