@media screen and (max-width: 860px) {
    #dominate-your {
        font-size: 32px;
        margin-top: auto;
    }

    #league {
        font-size: 48px;
    }

    #home-img {
        margin-top: -42px;
        min-width: 14rem
    }
    
    #container {
        margin-top: auto;
    }
}