<ul class="w-full flex gap-24 py-4 px-28" id="nav">
    <li [routerLink]="''" class="cursor-pointer w-fit">
        <img id="logo" src="../../../assets/pictures/Logo.png" alt="Home">
    </li>
    <li [routerLink]="'/rankings'" class="cursor-pointer w-fit nav-text">RANKINGS</li>
    <li [routerLink]="'/analyze'" class="cursor-pointer w-fit nav-text">ANALYZE</li>
    <li [routerLink]="'/compare'" class="cursor-pointer w-fit nav-text">COMPARE</li>
    <li class="flex-1"></li>
    <li [routerLink]="'/my-rankings'" class="cursor-pointer w-fit nav-text justify-self-end">MY RANKINGS</li>
    <li [routerLink]="'/user'" class="cursor-pointer w-fit nav-text justify-self-end">USER</li>
</ul>