<ul class="w-full flex gap-24 py-14 pl-28" id="nav">
    <li [routerLink]="''" class="cursor-pointer w-fit">Home</li>
    <li [routerLink]="'/rankings'" class="cursor-pointer w-fit">Rankings</li>
    <li [routerLink]="'/analyze'" class="cursor-pointer w-fit">Analyze</li>
    <li [routerLink]="'/compare'" class="cursor-pointer w-fit">Compare</li>
    <li [routerLink]="'/my-rankings'" class="cursor-pointer w-fit">My Rankings</li>
    <li [routerLink]="'/user'" class="cursor-pointer w-fit">User</li>
</ul>