<ul class="w-full flex py-4 px-28 lg:gap-24 md:px-14 md:gap-16 max-md:gap-8 max-md:px-6" id="nav">
    <li [routerLink]="''" class="cursor-pointer w-fit" id="logo-div">
        <img id="logo" src="../../../assets/pictures/Logo.png" alt="Home">
    </li>
    <div class="grid grid-cols-1 justify-items-center content-center">
        <li [routerLink]="'/rankings'" (mouseenter)="hoverRankingIsTrue()" (mouseleave)="hoverRankingIsFalse()" class="cursor-pointer w-fit nav-text">RANKINGS</li>
        <app-ranking-icon *ngIf="isHoverRanking" class="mt-16 justify-self-center absolute"></app-ranking-icon>
    </div>
    <div class="grid grid-cols-1 justify-items-center content-center">
        <li [routerLink]="'/analyze'" (mouseenter)="hoverAnalyzeIsTrue()" (mouseleave)="hoverAnalyzeIsFalse()" class="cursor-pointer w-fit nav-text">ANALYZE</li>
        <app-analyze-icon *ngIf="isHoverAnalyze" class="mt-14 justify-self-center absolute"></app-analyze-icon>
    </div>
    <div class="grid grid-cols-1 justify-items-center content-center">
        <li [routerLink]="'/compare'" (mouseenter)="hoverCompareIsTrue()" (mouseleave)="hoverCompareIsFalse()" class="cursor-pointer w-fit nav-text">COMPARE</li>
        <app-compare-icon *ngIf="isHoverCompare" class="mt-16 justify-self-center absolute"></app-compare-icon>
    </div>
    <!-- <li class="flex-1"></li> -->
    <!-- <li [routerLink]="'/my-rankings'" class="cursor-pointer w-fit nav-text justify-self-end">MY RANKINGS</li>
    <li [routerLink]="'/user'" class="cursor-pointer w-fit nav-text justify-self-end">USER</li> -->
</ul>