<div class="border-solid border border-black bg-stone-100 w-fit p-2 cursor-pointer" (click)="toggleActive()">
    <ng-container *ngIf="active">
        <ng-container *ngFor="let option of dropDownOptions">
            <p *ngIf="option == selected" class="bg-blue-600 cursor-default">{{option}}</p>
            <p *ngIf="option != selected" (click)="toggleSelected($event)" class="hover:bg-slate-400 cursor-pointer">{{option}}</p>
        </ng-container>
        <span class="material-symbols-outlined">
            arrow_drop_up
        </span>
    </ng-container>
    <ng-container *ngIf="!active">
        {{selected}}
        <span class="material-symbols-outlined">
            arrow_drop_down
        </span>
    </ng-container>
</div>
