<div class="border-solid border border-black bg-stone-100 w-fit p-2 pr-0 cursor-pointer" (click)="toggleActive()">
    <div *ngIf="active" class="flex flex-col">
        <div *ngFor="let option of dropDownOptions; let i = index;" class="flex">
            <p *ngIf="option == selected" class="bg-blue-600 cursor-default block w-full">{{option}}</p>
            <p *ngIf="option != selected" (click)="toggleSelected($event)" class="hover:bg-slate-400 cursor-pointer block w-full">{{option}}</p>
            <span class="material-symbols-outlined" *ngIf="i == 0">
                arrow_drop_up
            </span>
        </div>
    </div>
    <div *ngIf="!active" class="flex">
        <p>{{selected}}</p>
        <span class="material-symbols-outlined">
            arrow_drop_down
        </span>
    </div>
</div>
