/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {

    /* background: linear-gradient(179.75deg, #5254E0 2.85%, #1F21AD 62.22%, #161779 119.4%); */
    background: linear-gradient(to bottom, #5254E0 2.85%, #1F21AD 62.22%, #161779 119.4%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Merriweather', serif;
    width: 100%;
    min-height: 100%;
    color: #2B2B31
}